<menu class="menu">
  <li class="list-item ">
    <a  class="unit first-item" href="#/index"><span class="icon-font">&#xe607;</span><span>首页</span></a>
  </li>
  <li class="list-item  expand">
    <a class="unit" class="unit "><span class="icon-font">&#xe60a;</span><span>商品</span></a>
    <ul class="menu-sub">
      <li><a href="#/city">城市管理</a></li>
      <li><a href="#/supplier">供应商管理</a></li>
      <li><a href="#/suppagoods">产品与供应商关系</a></li>
      <li><a href="#/support">保障方案管理</a></li>
      <li><a href="#/goodscontrol">商品管理</a></li>
    </ul>
  </li>
  <li class="list-item expand">
    <a class="unit "><span class="icon-font">&#xe608;</span><span>订单</span></a>
    <ul class="menu-sub">
      <li><a href="#/orderManager">订单管理</a></li>
      <li><a href="#/refusePolicy">投保单拒保处理</a></li>
      <li><a href="#/errorProposal">投保单异常处理</a></li>
      <li><a href="#/prePayProposal">投保单支付保费</a></li>
      <li><a href="#/expressPolicy">保单申请快递</a></li>
      <li><a href="#/orderStatistics">交易统计</a></li>
    </ul>
  </li>
  <li class="list-item expand">
    <a class="unit "><span class="icon-font">&#xe609;</span><span>费用</span></a>
    <ul class="menu-sub">
      <li><a href="#/listSettlement">手续费结算</a></li>
      <li><a href="#/listPaymentDetail">收支管理</a></li>
    </ul>
  </li>
  <li class="list-item expand">
    <a href="#/user" class="unit gray"><span class="icon-font">&#xe60b;</span><span>用户</span></a>
    <ul class="menu-sub">
      <li><a href="#/user">用户查询</a></li>
      <!--<li><a href="#/delay_two">逾期未还款用户(二次)</a></li>-->
      <li><a href="#/delay_first">逾期未还款用户</a></li>
      <li><a href="#/statistics">用户统计</a></li>
      <li><a href="#/userAnalysisManager">用户分析</a></li>
    </ul>
  </li>
  <li class="list-item expand">
    <a href="#/gtposter" class="unit "><span class="icon-font">&#xe60c;</span><span>设置</span></a>
    <ul class="menu-sub">
      <li><a href="#/gtposter">首页产品海报管理</a></li>
      <li><a href="#/rmposter">推荐区海报管理</a></li>
      <li><a href="#/platnature">平台属性设置</a></li>
      <!--<li><a href="#">日志管理</a></li>-->
    </ul>
  </li>
  <li class="list-item expand">
    <a href="#/operationAnalysis" class="unit "><span class="icon-font">&#xe60c;</span><span>数据统计</span></a>
    <ul class="menu-sub">
      <li><a href="#/operationAnalysis">运营分析</a></li>
      <li><a href="#/flowAnalysis">流量分析</a></li>
      <li><a href="#/userAnalysis">用户分析</a></li>
      <!--<li><a href="#">日志管理</a></li>-->
    </ul>
  </li>
</menu>
