.menu{
  @extend .fix;
  left: 1.5%;top:$headerTopHeight+$logoSpace*2+$logoHeight+$navHeight;
  bottom: $footerHeight;
  width: $menuWidth;
  border: 1px solid $borderColor;
  background: $mainPageBgColor;
  overflow: auto;
  .icon-font{font-size: 24px;margin-right: 6px;}
}
//.first-item{padding-top: 20px;}
.first-item{margin-top: 20px;}
.unit{
  display: block;
  height: 46px;
  line-height: 46px;font-size: 18px;
  border-bottom: 1px solid $borderColor;
  text-indent: 20px;
  color: $menuUnitColor;
}
.menu-sub{
  overflow: hidden;
  height: 0;
  font-size: 16px;
  border-bottom: 1px solid $borderColor;
  a{color: $menuSubColor;}
  >li{
    line-height: 36px;
    text-indent: 50px;
  }
  .active{color: $brand-success;}
}
.expand{
  //.unit:not(.first-item){background: $brand-success;color: #fff;}
  .unit{background: $brand-success;color: #fff;}
  .menu-sub{height: auto;}
}
