
//header
$headerColor:#0e9f52,#fff;
$menuColor:#2e3833,#ffffff;

//menu
$menuLiBorderTop:#4d4d4d;
$menuLiHover:#0e9f52;
$menuTap:#242424;
$menu-subBg:#4a4a4a;
$menu-subActive:#575757;
$menu-itemActive:#1d1d1d;

//content
$mainTop:179px;
$headerTopHeight:20px;
$navHeight:24px;
$logoSpace:6px;
$logoHeight:36px;
$footerHeight:30px;
$headerBgColor:#27292f;
$mainBgColor:#e7e8eb;
$mainPageBgColor:#fff;
$borderColor:#e0e0e0;
$mainColor:#ff9100;
$colorGray:#f3f4f9;
$colorDarkGray:#ccc;
$zoneSpace:1.5%;
$menuWidth:231px;
$menuUnitColor:#999;
$menuSubColor:#626262;

//pop
$popSize:15px;
$popTitleBg:#e0e0e0;
$popTitleColor:#27292f;
$popTitleHeight:40px;
$popWrapPadding:20px;

//form
$input-group-addon:90px;
$input-group-addon-pading:10px;
$input-group-addon-require:20px;


