<nav class="nav-bar">
  <span class="icon-font tips">&#xe614</span>
  <span class="tips cur" ng-click="goTo('/orderManager/')">订单 ></span>
  <span class="cur">人工出单</span>
</nav>
<div class="tr">
  <button class="btn btn-success btn-broad" ng-click="exportTip('1')">导出转保单失败EXCEL</button>
  <button class="btn btn-success btn-broad" ng-click="exportTip()">导出转投保单失败EXCEL</button>
</div>

<div class="top25 narrow-box">
   <button class="btn btn-input btn-default" style="float:right;" ng-click="findResult()" type="button">查找</button>
	<select class="btn btn-narrow" style="float:left;margin-right:1%;" ng-model="search_supplierID">
		<option value="" ng-selected="selected" selected="selected">供应商</option>
		<option ng-repeat="supplier in suppliers" value="{{supplier.supplierID}}">{{supplier.supplierName }}</option>
	</select>

	<select class="btn btn-narrow"  style="float:left;margin-right:1%;" ng-model="search_cityID">
		<option value="" ng-selected="selected" selected="selected">城市</option>
		<option ng-repeat="city in citys" value="{{city.cityID}}">{{city.cityName}}</option>
	</select>

	<select class="btn btn-narrow"  style="float:left;margin-right:1%;" ng-model="search_policyStatus">
		<option value="">状态</option>
		<option value="3">系统转投保单失败</option>
		<option value="8">系统转保单失败</option>
	</select>
	<input type="text" style="float:left;margin-right:1%" date-time view="date" clear="true" position="absolute" format="YYYY-MM-DD HH:mm" readonly="readonly" min-view="minutes" step="1" ng-model="dates.search_startTime" class="btn btn-narrow" placeholder="系统异常开始时间" readonly="readonly" id="search_startTime" min-date="minDate" min-date="dates.maxDate" />
	<input type="text" style="float:left;margin-right:1%" date-time view="date" clear="true" position="absolute" format="YYYY-MM-DD HH:mm" readonly="readonly" min-view="minutes" step="1" ng-model="dates.search_endTime" class="btn btn-narrow" placeholder="系统异常结束时间" readonly="readonly" id="search_endTime" date-change="changeDate" max-date="maxDate" min-date="dates.minDate" ng-disabled="dates.search_startTime.format('YYYY-MM-DD')?false:true" />
	<input class="btn btn-narrow"  style="float:left;margin-right:1%;" type="text" ng-model="search_carOwner" placeholder="输入车主姓名" />
	<input class="btn btn-narrow" style="float:left;margin-right:1%;" type="text" ng-model="search_phoneNo" placeholder="输入联系电话" />
  <input class="btn btn-narrow" type="text" ng-model="search_policyCustomerNo" placeholder="电子投保单号" />
</div>



<table class="top30 table-small">
	<thead>
		<tr>
			<th width="10%">电子投保单号</th>
			<th>商品名称</th>
			<th>险种类别</th>
			<th>车主</th>
			<th>联系电话</th>
			<th>订单金额</th>
			<th ng-click="doSort()">系统异常时间{{sortSign}}</th>
			<th>状态</th>
			<th>供应商</th>
			<th>城市</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="order in orders">
			<td width="70">{{order.policyCustomerNo}}</td>
			<!--<td>{{order.goodsName }}</td>-->
			<td>{{order.isGift == 'Y' ? order.goodsName+'（赠品）' : order.goodsName}}</td>
			<td>{{order.kindType == '1' ? '商业险' : '交强险'}}</td>
			<td>{{order.carOwner}}</td>
			<td>{{order.phoneNO}}</td>
			<td>{{order.payFee}} <span ng-show="order.payFee">元</span></td>
			<td>{{order.errorTime}}</td>
			<td>{{order.policyStatus == '3' ? '系统转投保单失败' : '系统转保单失败'}}</td>
			<td>{{order.supplierShortName}}</td>
			<td>{{order.cityName}}</td>
			<td>
				<span ng-if="order.goodsTypeID=='2'">		<!--车险白条-->
					<a class="success" ng-click="operation($index, 'cancelOrder')">取消保单</a>
					<a class="ok" ng-click="operation($index, 'completePolicy')">投保成功</a>
				</span>
				<span ng-if="order.goodsTypeID=='1'">		<!--天天保-->
					<a class="danger" ng-click="operation($index, 'refundOrder')">退费 </a>
					<a class="ok" ng-click="operation($index, 'completePolicy')">投保成功</a>
				</span>
				<span ng-if="order.isGift=='Y'">		<!--赠送险（天天保）-->
					<a class="success" ng-click="operation($index, 'cancelOrder')">取消保单</a>
					<a class="ok" ng-click="operation($index, 'completePolicy')">投保成功</a>
				</span>
				<span ng-if="order.goodsTypeID=='4'">		<!--交强险-->
					<a class="danger" ng-click="operation($index, 'refundOrder')">退费 </a>
					<a class="ok" ng-click="operation($index, 'completePolicy')">投保成功</a>
				</span>
			</td>
		</tr>
	</tbody>
</table>
<nav class="ov">
	<div class="navleft fl">共{{total}}条</div>
	<div paging class="fr" page="currentPage" page-size="pageSize" total="total" paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
	</div>
</nav>

<div class="pop"  ng-show="PopHide">
    <div class="pop-up">
        <h1 class="pop-title">{{title}}</h1>
      <div class="pop-wrap tc" >
        <div class="ib tl">
        	{{context}}
        </div>
      </div>
      <div class="pop-btn tc">
        <button type="button" class="btn btn-input btn-success" ng-click="cancel()">确定</button>
      </div>

    </div>
</div>

<!--新增-->
<!--操作成功冒泡-->
<div class="pop" style="width:150px;height:60px;position:absolute;top:50%;left:50%;" ng-show="modalAlreadySuccess">
  <div class="pop-wrap tc success">
    {{context}}
  </div>
</div>


<div class="pop"  ng-show="popShow">
    <div class="pop-up">
        <h1 class="pop-title">提示</h1>
      <div class="pop-wrap tc" >
        <div class="ib tl">
          <div>产品类别：{{goodsTypeName}}</div>
          <div class="top5">电子投保单号：{{policyCustomerNo}}</div>
          <div class="top5">车主：{{carOwner}}</div>
          <div  class="danger top20">{{content}}</div>
        </div>
      </div>
      <div class="pop-btn tc">
        <button type="button" class="btn btn-input" ng-click="cancelPop()">关闭</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-input btn-success" ng-click="confirm()">确定</button>
      </div>
    </div>
</div>


<div class="pop" ng-show="popCompletePolicyShow">
<div class="pop-up" style="height:500px;width:450px;">
    <h1 class="pop-title">提示</h1>
    <div class="pop-wrap">
      <table style="text-align:left;">
        <tr >
          <td style="border:0">产品类别：</td>
          <td style="border:0">{{goodsTypeName}}
          </td>
          </tr><tr>
          <td style="border:0">电子投保单号：</td>
          <td style="border:0">{{policyCustomerNo}}
          </td>
           </tr><tr>
          <td style="border:0">车主：</td>
          <td style="border:0">{{carOwner}}
          </td>
           </tr><tr>
          <td style="border:0">车牌号：</td>
          <td style="border:0">{{carLicenseNO}}
          </td>
           </tr><tr>
          <td style="border:0">险种类别：</td>
          <td style="border:0">{{kindTypeName}}
          </td>
        </tr>
        <tr>
          <td style="border:0"><span class="danger top20">{{content}}</span></td>
          <td style="border:0">
          </td>
        </tr>
      </table>
      	<div class="input-group top10">
        <label class="input-group-addon"><span class="require">*</span>投保单号</label>
        <div class="input-group-content" ng-class="{ 'has-error': form.contactName.$touched && form.contactName.$invalid,'has-success': form.contactName.$touched && form.contactName.$valid}">
          <input class="btn btn-narrow" type="text" ng-model="completePolicy_proposalNO" name="completePolicy_proposalNO" ng-focus="onFocus()">
          <div class="help-block" ng-messages="form.contactName.$error"  ng-show="form.contactName.$touched ">
            <div ng-message="required">必填</div>
          </div>
        </div>
      </div>
      <div class="input-group">
        <label class="input-group-addon"><span class="require">*</span>保单号</label>
        <div class="input-group-content" ng-class="{ 'has-error': form.contactName.$touched && form.contactName.$invalid,'has-success': form.contactName.$touched && form.contactName.$valid}">
          <input class="btn btn-narrow " type="text" ng-model="completePolicy_policyNO" name="completePolicy_policyNO"  ng-focus="onFocus()">
          <div class="help-block" ng-messages="form.contactName.$error"  ng-show="form.contactName.$touched ">
            <div ng-message="required">必填</div>
          </div>
        </div>
      </div>
      <div ng-show="goodsTypeID=='1' || goodsTypeID=='4' || isGift=='Y'" class="input-group">
        <label class="input-group-addon"><span class="require">*</span>保单金额</label>
        <div class="input-group-content" ng-class="{ 'has-error': form.contactName.$touched && form.contactName.$invalid,'has-success': form.contactName.$touched && form.contactName.$valid}">
          <input class="btn btn-narrow " type="text" ng-model="completePolicy_sumPremium" name="completePolicy_sumPremium"  ng-focus="onFocus()">
          <div class="help-block" ng-messages="form.contactName.$error"  ng-show="form.contactName.$touched ">
            <div ng-message="required">必填</div>
          </div>
        </div>
      </div>
		<!--新增-->
		<div class="danger" ng-show="errorTip">
			<p ng-show="errorTip">{{errorTipContent}}</p>
		</div>

    </div>
    <div class="pop-btn tc">
      <button type="button" class="btn btn-input" ng-click="cancelPop()">关闭</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-input btn-success" ng-click="confirmCompletePolicy()">投保成功</button>
    </div>
  </div>
</div>


<div class="pop" ng-show="popExport">
  <div class="pop-up pop-up-large">
    <h1 class="pop-title">导出EXCEL</h1>
    <div class="pop-wrap pop-values" style="height: 280px;">
    	<div><small class="tips bottom10"> 查询条件:{{isReal?'':'无'}} (共计{{exportTotal}}条)</small></div>
        <div class="input-group" ng-repeat="param in params">
          <span class="input-group-addon">{{param.key}}</span>
          <div class="input-group-content">{{param.value}}</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="pop-btn tc">
    	<button type="button" class="btn btn-input" ng-click="cancelExport()">取消</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-input btn-success" ng-click="exportExcel()">确认导出</button>
    </div>
  </div>
</div>

<div class="pop" style="width:150px;height:60px;position:absolute;top:50%;left:50%;" ng-show="modalGoodsSuccess">
  <div class="pop-wrap tc success">
    导出成功
  </div>
</div>


