
<nav class="nav-bar">
  <span class="icon-font tips">&#xe614</span>
  <span class="tip cur" ng-click="goTo('/gtposter/')">设置 > </span>
  <span class="cur" ng-click="goTo('/rmposter/')">推荐区海报管理 > </span>
  <a href="#/setactivity/{{ticket}}/{{domain}}">活动设置></a>
  <span class="cur">图片上传或排序</span>
</nav>

<div class="top25">{{name}}</div>

<div class="top25 " style="margin-top: 50px;"  >
   <div class="top25"><span class="require">*</span>上传活动图片 - 图片要求（750像素  * 不限高，图片格式要求：JPG、PNG、GIF 图片张数 1至7张 ）</div>
</div>
<div class="pop-brandImage top25">
    <div class="ov">
        <!--<label class="fl"><span class="bigSize"></span> <span class="gray">(尺寸:750*420)</span></label>-->
        <span class="success fr btn-sort" ng-click="sort()"><span>{{sortText}}</span></span>
    </div>
    <div class="ov"  ng-class="{ 'sortActive': !disabled}">
        <div class="imgGroup" ng-repeat="detail in details" >
            <span class="btn-del" ng-click="del($index)"></span>
            <div class="imgBox">
              <input class="fileBtn fileAdd" type="file" data-nth="{{$index}}" data-cid="{{detail.activityImagesRelID}}"  onchange="angular.element(this).scope().setFiles(this)">
                <img ng-src="{{detail.httpUrl}}"/>
              <div class="change-pic" ng-show="sortText!='保存'">点击更换</div>
            </div>
            <div class="tc">
                <input type="text" ng-model="detail.priority" class="sortNum btn btn-sm" ng-disabled="disabled" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"  onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"/>
            </div>
        </div>
        <div class="imgGroup addBox" ng-hide="details.length>6">
            <span class="btn-del"></span>
            <div class="imgBox">
                <input class="fileBtn fileAdd" id="file"  type="file" data-nth="-1" data-cid=""  onchange="angular.element(this).scope().setFiles(this)">
                <img src="images/upload.png"/>
            </div>
        </div>
    </div>

</div>

<div class="tc top25">
    <button class="btn btn-7em btn-success" ng-click="finish()">完成</button>
</div>


<!-- 确认提示框  -->
<div class="pop"  ng-show="showPop">
    <div class="pop-up pop-up-small">
        <h1 class="pop-title">提示</h1>
      <div class="pop-wrap">您未上传海报图片, 请确认以下操作</div>
      <div class="pop-btn tc">
        <button type="button" class="btn btn-input" ng-click="noUpload()">暂不上传</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-input btn-success" ng-click="hidePop()">继续上传</button>
      </div>
    </div>
</div>



<div class="pop" ng-show="popShow">
    <div class="pop-up">
        <h1 class="pop-title">提示</h1>
      <div class="pop-wrap tc" >
        <div class="ib tl">
        	{{context}}
        </div>
      </div>
      <div class="pop-btn tc">
        <button type="button" class="btn btn-input btn-success" ng-click="cancel()">确定</button>
      </div>
    </div>
</div>


